<div class="app-shell">
  <po-menu [p-collapsed]="false" [p-menus]="menuItems">
    <div *p-menu-header-template class="menu-header">
      Cadastro de Usuarios
      <small>Power BI</small>
    </div>

    <div *p-menu-footer-template class="menu-footer">
      <po-button
        p-label="Sair da rotina"
        p-kind="tertiary"
        p-icon="po-icon-exit"
        (p-click)="exitRoutine()"
      >
      </po-button>
    </div>
  </po-menu>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
</div>
